body{
    background-color: #36393e;
    background-image: linear-gradient(#36393e, black);
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

.column{
    background-color: gray;
    border-radius: 25px;
    padding: 20px;
    width: 60%;
    min-width: 1060px;
    margin: 20px auto;
}

.gamediv{
    background-color: lightgray;
    border-radius: 0px;
    padding: 0px;
    width: 100%;
    margin: 0px auto;
}
