<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="../style.css" rel="stylesheet" type="text/css" />
        <!-- if already got css put that here -->
        <title>MrB: Title goes here</title>
    </head>
    <body>
        <div class="column">
            <h1>Title goes here</h1>
            <h2>by <a href="../MrBonesStudio">Name goes here</a></h2>
            <div class="gamediv">
                <h1>Game goes here</h1>
            </div>
            <br><a href="../">Back to home page</a><br><br>
            <h2>Controls:</h2>
            <p>ratio</p>
            <h2>Description:</h2>
            <p>ratio</p>
        </div>
    </body>
</html>